*{margin: 0;padding: 0;}
.wrap{
    width:900px;
    margin: 0 auto;
}
header{
    position: relative;
    height:300px;
    background:url('../images2/top.jpg') no-repeat 0 0 / cover ;
} 
header h1{
    position: absolute;
    bottom:50px;
    right:50px;
    color:#fff;
}
nav{
    width:900px;
    height:70px;
    background-color: #2a1d0a;
}
nav ul {
    list-style: none;
}
nav ul li{
    float: left;
    margin-left: 25px;
    margin-top: 15px;
}
nav ul li a{
   display: block;
   width:150px;
   height:40px;
   line-height: 40px;  
   color:#fff;
   border: 1px solid #fff;
   text-align: center; 
   border-radius: 20px;
   text-decoration: none;
   font-weight: bold;
}

nav ul li a:hover{
    background-color: #fff;
    color:#000;
    text-decoration: underline;
}
.content{
    height:550px;
}
section{
    width:650px;
    height:550px;
    background-color: #ccc;
    float:left;
}
section h3{
    padding: 10px 0;
    text-align: center;
}
section article{
    width:270px; height:200px;
    border: 1px solid #333;
    float: left;
    padding: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
}
article:hover{
    background-color: rgba(223, 255, 211, 0.5);
}
article h4{
    background: url(../images2/kong.png) no-repeat 0 0;
    padding-left: 30px;
    padding-bottom: 10px;
}
article p{
    line-height: 1.7em;
    text-align: justify;
}
aside{
	width:250px;
	height:550px;
	background-color:#726054;
	float:left;
	text-align:center;
}
aside h3{
    padding: 10px 0;
}
aside img{
    width:220px;
    padding-bottom: 15px;
}
footer{
    margin-top: 200px;
    height:60px;
    line-height: 60px;
    background-color: #333;
    color:#fff;
    text-align: center;
}
